<!DOCTYPE html>
<html>
<head>
    <title>Тоглоомын цэс</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>🎮 Миний Тоглоомын Цэс</h1>
    
    <div class="card-container">
        <div class="card" style="background-color: #f1c40f;">
            <h2>1. Санасан тоог таах</h2>
            <a href="/guess_number">Тоглох</a>
        </div>
        <div class="card" style="background-color: #e67e22;">
            <h2>2. Хайч, Чулуу, Даавуу</h2>
            <a href="/rps">Тоглох</a>
        </div>
        <div class="card" style="background-color: #1abc9c;">
            <h2>3. Зураг таах</h2>
            <a href="/image_guess">Тоглох</a>
        </div>
        <div class="card" style="background-color: #9b59b6;">
            <h2>4. Фибоначчигийн таавар</h2>
            <a href="/fibonacci">Тоглох</a>
        </div>
        <div class="card" style="background-color: #e74c3c;">
            <h2>5. Төөрдөг байшин</h2>
            <a href="/maze">Тоглох</a>
        </div>
    </div>

</body>
</html>
